
body{ 
	width:1000px;
	margin:0 auto 15px auto;
	
}

/*navigation*/
.nav{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #006600;
	text-align:center;
}
.nav li {
	display: inline;
}
.nav li a{
	display: inline-block;
	padding: 14px 26px;
	text-decoration: none;
	color: white;
}
.nav li a:hover{
	background-color: #009900;
}
.active{
	background-color: #111;
	color: white;
}

.content{
	padding:12px;
	margin-left: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}

#skill{
	border-collapse: collapse;
	border: 5px solid black;
}
#skill table,th,td{
	border: white;	
	border-bottom: 2px solid black;
	text-align: center;
}
#skill th{
	font-size: 16px;
	height: 50px;
	width: 250px;
}
#skill td{
	font-size: 14px;
	height: 30px;
	
}

img.image {
	display: block;
	margin: auto;
	color: currentColor;
	width: 400px;
	height: 300px;
	top: -0.1em;
}